---
import BaseLayout from '../layouts/BaseLayout.astro';
import Shader from '../components/shader.astro'
import Navbar from '../components/navbar.astro'
import Card from '../components/Card.astro'
---
<BaseLayout title="Phil.">
	<Navbar></Navbar>
	<section class="pagefill">
		<div class="me">
			<div class="bio">
				<div class="profile">
					<img src="/img/512.jpg" alt="me">
				</div>
				<h1>Philip Golovin</h1>
				<p>Software Engineer</p>
				<div class="links">
					<a href="https://github.com/1jz">github</a>
					<p>.</p>
					<a href="https://www.linkedin.com/in/philipgolovin/">linkedin</a>
				</div>
			</div>
		</div>
		<div class="shadercont">
			<div class="shader">
				<Shader></Shader>
			</div>
		</div>
	</section>
	<main>
		<section class="projects">
			<h1>Software</h1>
			<div class="gallery">
				<Card
					href="https://buffet.moe/"
					title="Buffet.moe"
					body="Fully serverless file hosting service using rust. Currently in alpha."
					file="buffet"
				/>
				<Card
					href="https://github.com/1jz/stable-diffusion-scaler"
					title="SD Scaler"
					body="Image scaling using stable diffusion with tiling for larger images"
					file="sdscaler"
					animate={true}
				/>
			</div>
		</section>
		<section class="projects">
			<h1>Creative</h1>
			<div class="gallery">
				<Card
					href="https://github.com/1jz/pixsort"
					title="pixsort"
					body="CLI for sorting pixels in videos and images"
					span={true}
					animate={true}
					file="pixsort"
				/>
				<Card
					title="PROJECT MAGE"
					body="WIP Isometric roguelite utilizing 3D Pixel Art shader"
					file="mage"
					animate={true}
				/>
				<Card
					title="Godot Source Movement"
					body="Recreation of source engine movement in Godot"
					file="godot"
					animate={true}
				/>
			</div>
		</section>
		<section class="projects">
			<h1>Fun</h1>
			<div class="gallery">
				<Card
					href="https://github.com/runelite/runelite"
					title="Runelite"
					body="Old School RuneScape client, contributor and plugin developer"
					file="runelite"
					animate={true}
					span={true}
				/>
				<Card
					title="TrackMania OpenCV Bot"
					body="Using computer vision to navigate trackmania maps"
					file="tmbot"
					span={true}
				/>
				<Card
					href="https://github.com/1jz/csgo-go-bhop"
					title="CS:GO Go bhop"
					body="POC Golang Win32 bunnyhop cheat for csgo"
					file="csgo"
					animate={true}
				/>
				<Card
					href="https://github.com/1jz/osu-relax"
					title="osu! relax"
					body="Using Win32 to click to the beat with robot precision"
					file="osu"
				/>
			</div>
		</section>
	</main>
</BaseLayout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		max-width: 800px;
		color: var(--text-primary);
	}

	.pagefill {
		height: calc(100vh - var(--navbar-size));
		display: flex;
		flex-direction: row-reverse;
		overflow: hidden;
	}

	.shadercont, .me {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.shader {
		width:512px;
		height:512px;
		justify-content: center;
		display: flex;
		overflow: hidden;
	}

	.links {
		display:flex;
	}

	.bio {
		width: 100%;
		height: 512px;
		font-size: 2rem;
	}

	.bio h1 {
		color: var(--text-primary);
	}

	.bio p {
		color: rgb(var(--accent-light));
		font-family: 'Sen', 'Helvetica', sans-serif;
	}

	.bio .links {
		font-size: 0.5em;
		flex-direction: row;
	}

	.bio .links > *:not(:first-child) {
		margin-left: 10px;
	}

	.bio a {
		color: rgb(var(--accent));
		font-family: 'Source Code Pro', 'Courier New', monospace;
	}

	.projects {
		display: flex;
		flex-direction: column;
		margin-bottom: 1rem;
		gap: 1rem;
	}

	.gallery {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
		grid-gap: 1rem;
		align-items: stretch;
	}

	.profile {
		width: 256px;
		height: 256px;
		border-radius: 50%;
		overflow: hidden;
		border: 2px solid white;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgb(var(--accent));
	}

	.profile img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	@media screen and (max-width: 1280px) {
		.pagefill {
			display: flex;
			flex-direction: column;
			height: 100%;
		}

		.bio {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		.me {
			width: 100%;
			scale: 0.8;
		}

		.shader {
			width: 800px;
		}

		.shadercont {
			width: 100%;
			height: 100px;
			overflow: hidden;
		}
	}

	@media screen and (max-width: 600px) {
		.item {
			grid-column: 1 / span 2;
		}

		.profile {
			scale: 0.8;
		}
	}
</style>
